about-time==4.1.0
alive-progress==2.4.1
beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
Flask==2.1.3
grapheme==0.6.0
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
MouseInfo==0.1.3
Pillow==9.2.0
progress==1.6
pyaes==1.6.1
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
Pyrogram==2.0.35
PyScreeze==0.1.28
PySocks==1.7.1
pytweening==1.0.4
pywhatkit==5.4
requests==2.28.1
setuptools==63.2.0
soupsieve==2.3.2.post1
TgCrypto==1.2.3
urllib3==1.26.11
vk-api==11.9.9
Werkzeug==2.2.1
wheel==0.37.1
wikipedia==1.4.0
zipp==3.8.1
